@define-color bg #1e1e2e;
@define-color def #e3af4b;

@define-color bcyan #26afc7;
@define-color byel #ddaf4b;

@define-color blu #2680b6;

@define-color good #008000;
@define-color warn #999900;
@define-color bad #cc5555;
@define-color crit #FF0000;




* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: IBM Plex Mono;
    font-weight: Bold;
    font-size: 15px;
    background-color: @bg;
    color: @def;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#pulseaudio:hover {
    background-color: @bcyan;
    color: @bg;
}

#backlight:hover {
    background-color: @byel;
    color: @bg;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#power-profiles-daemon
{
    padding: 0 5px;
}

#clock {
	color: #cc6699
}

#battery.charging, #battery.plugged {
        color: #00aaaa;
}

#battery {
    color: #008000;
}

#battery.warning {
    color: @warn;
}

#battery.critical {
    color: #ff0000;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 10px;
}

#power-profiles-daemon.performance {
    color: @crit;
}

#power-profiles-daemon.balanced {
    color: @blu;
}

#power-profiles-daemon.power-saver {
    color: @good;
}

#cpu {
    color: @good;
}

#cpu.warning {
    color: @warn;
}

#cpu.critical {
    color: @crit;
}

#memory {
    color: #8f3eea;
}

#backlight {
    color: @byel;
}

#network {
    color: @good;
}

#network.warning {
    color: @warn;
}

#network.critical {
    color: @bad;
}

#network.disconnected {
    background-color: @crit;
    color: @bg;
}

#pulseaudio {
    color: @bcyan;
}

#pulseaudio.muted {
    background-color: @bcyan;
    color: @bg;
}

#temperature {
    color: @good;
}

#temperature.warning {
    color: @warn
}

#temperature.critical {
    color: @crit;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
